/* Make the canvas fill the entire screen */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    color: white;
}

canvas {
    display: block;
    /* Removes the margin inside the canvas */
    width: 100%;
    height: 100%;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bottomDiv {
    position: fixed;
    /* Fixed position relative to the viewport */
    bottom: 0;
    /* Align to the bottom of the viewport */
    width: 100%;
    /* Take full width */
    /* Add other styles like background, padding, etc. as needed */
}

#text-overlay {
    position: absolute;
    top: 10px;
    /* Adjust as needed */
    left: 10px;
    /* Adjust as needed */
    color: white;
    font-size: 18px;
    /* Additional styling as needed */
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

#openFileButton {
    background-color: #00000060;
    /* Black background */
    color: white;
    /* White text */
    border: 2px solid white;
    /* White border */
    border-radius: 5px;
    padding: 10px 20px;
    /* Padding around the text */
    font-size: 16px;
    /* Font size */
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    /* Change mouse cursor on hover */
    outline: none;
    /* Remove outline */
    transition: 0.3s;
    /* Smooth transition for hover effects */
}

#githubRepoButton {
    background-color: #00000060;
    /* Black background */
    color: white;
    /* White text */
    border: 2px solid white;
    /* White border */
    border-radius: 5px;
    padding: 10px 20px;
    /* Padding around the text */
    font-size: 16px;
    /* Font size */
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    /* Change mouse cursor on hover */
    outline: none;
    /* Remove outline */
    transition: 0.3s;
    /* Smooth transition for hover effects */
}

#urlLinkButton {
    background-color: #00000060;
    /* Black background */
    color: white;
    /* White text */
    border: 2px solid white;
    /* White border */
    border-radius: 5px;
    padding: 10px 20px;
    /* Padding around the text */
    font-size: 16px;
    /* Font size */
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    /* Change mouse cursor on hover */
    outline: none;
    /* Remove outline */
    transition: 0.3s;
    /* Smooth transition for hover effects */
}

#openFileButton:hover {
    background-color: white;
    /* Change background to white on hover */
    color: black;
    /* Change text color to black on hover */
}

#loadingSymbol {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 2s linear infinite;
    transform-origin: 50% 50%;
    /* Adjust if necessary */
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}